@model IEnumerable<Travel.Models.Site>


@{
    ViewBag.Title = "Europe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row destination-bar">
@using (Html.BeginForm("Index", "Destinations", FormMethod.Get))
{
    <br>
    <br>
    <br>
    <p>
        Hotel: @Html.TextBox("SearchString")
        Country: @Html.DropDownList("SiteLocation", "All")
        Direction: @Html.DropDownList("siteDestination", "All")
        
        <input class="btn" type="submit" value="Filter" />
    </p>
}
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @foreach (var item in Model)
        {
           
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>@Html.DisplayFor(modelItem => item.SiteName)</h3>
                </div>
                <div class="panel-body panel-destinations-body">
                    <div class="col-sm-5 panel-destinations-body">
                        <img class="avatar" src="@Url.Content(item.SiteAvatar)" alt="avatar" />
                    </div>
                    <div class="col-sm-4">
                        <h4>@Html.DisplayFor(modelItem => item.SiteLocation)</h4>
                        <h4>@Html.DisplayFor(modelItem => item.SiteDestination)</h4>
                        <br />
                       
                    </div>
                    <div class="col-sm-3 panel-destinations-btn-area">
                        
                        @Html.ActionLink("Details", "TravelDescription", "Sites", new { id = item.SiteId }, new { @class = "btn btn-success btn-block btn-destination" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
                      